.components-grid {
  margin: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  grid-template:
    'profile-card analog-clock analog-clock moving-sliders'
    'profile-card analog-clock analog-clock digital-clock'
    'bitcoin-btn-container social-media-icons social-media-icons gradient-ring'
    'calculator checkbox-container click-me-btn login-form'
    'calculator pagination pagination login-form'
    'slider-container slider-container slider-container slider-container'
    'some-cool-text some-cool-text radio-btns radio-btns'
    'phone-buttons phone-buttons loading-circle loading-circle';
}

.analog-clock {
  grid-area: analog-clock;
}

.bitcoin-btn-container {
  grid-area: bitcoin-btn-container;
}

.calculator {
  grid-area: calculator;
}

.checkbox-container {
  grid-area: checkbox-container;
}

.click-me-btn {
  grid-area: click-me-btn;
}

.digital-clock {
  grid-area: digital-clock;
}

.gradient-ring {
  grid-area: gradient-ring;
}

.loading-circle {
  grid-area: loading-circle;
}

.profile-card {
  grid-area: profile-card;
}

.login-form {
  grid-area: login-form;
}

.moving-sliders {
  grid-area: moving-sliders;
}

.pagination {
  grid-area: pagination;
}

.phone-buttons {
  grid-area: phone-buttons;
}

.radio-btns {
  grid-area: radio-btns;
}

.slider-container {
  grid-area: slider-container;
}

.social-media-icons {
  grid-area: social-media-icons;
}

.some-cool-text {
  grid-area: some-cool-text;
}

@media (max-width: 1700px) {
  .components-grid {
    grid-template:
      'profile-card analog-clock'
      'profile-card analog-clock'
      'social-media-icons social-media-icons'
      'digital-clock calculator'
      'gradient-ring calculator'
      'moving-sliders bitcoin-btn-container'
      'login-form checkbox-container'
      'login-form click-me-btn'
      'pagination pagination'
      'some-cool-text radio-btns'
      'slider-container slider-container'
      'phone-buttons loading-circle';
  }
}

@media (max-width: 1100px) {
  .components-grid {
    grid-template:
      'analog-clock analog-clock'
      'profile-card profile-card'
      'social-media-icons social-media-icons'
      'digital-clock calculator'
      'gradient-ring calculator'
      'login-form checkbox-container'
      'login-form click-me-btn'
      'pagination bitcoin-btn-container'
      'pagination moving-sliders'
      'some-cool-text some-cool-text'
      'radio-btns radio-btns'
      'slider-container slider-container'
      'phone-buttons loading-circle';
  }

  body .pagination {
    width: 200px;
  }

  body .pagination .pagination-list {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .components-grid {
    grid-template:
      'analog-clock analog-clock'
      'profile-card profile-card'
      'social-media-icons social-media-icons'
      'calculator calculator'
      'calculator calculator'
      'digital-clock gradient-ring'
      'login-form checkbox-container'
      'login-form click-me-btn'
      'pagination bitcoin-btn-container'
      'pagination moving-sliders'
      'some-cool-text some-cool-text'
      'radio-btns radio-btns'
      'slider-container slider-container'
      'phone-buttons loading-circle';
  }

  body .checkbox-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  body .checkbox-container span::before {
    margin-left: 0;
  }

  body .social-media-icons .row li {
    width: 5.5rem;
    height: 5.5rem;
  }
}

@media (max-width: 700px) {
  .components-grid {
    display: flex;
    flex-direction: column;
  }

  body .analog-clock .sticks .stick {
    transform: translateY(-30vw);
  }

  body .analog-clock {
    width: 70vw;
    height: 70vw;
    border: 2vw solid #ecf0f3;
  }

  body .analog-clock .clock-hands .hand {
    height: 25vw;
  }

  body .analog-clock .clock-hands .minute-hand {
    height: 21vw;
  }

  body .analog-clock .clock-hands .hour-hand {
    height: 18vw;
  }

  body .radio-btns {
    padding: 2rem 0.75rem;
  }

  body .radio-btns label {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .components-grid {
    margin: 2rem;
  }

  body .social-media-icons .row li {
    width: 4rem;
    height: 4rem;
  }

  body .digital-clock {
    width: 100%;
  }

  body .social-media-icons .row-1 .icon {
    font-size: 2rem;
  }

  body .social-media-icons .row-1 li.active .icon {
    font-size: 1.5rem;
  }

  body .social-media-icons .row-2 .icon {
    font-size: 1.5rem;
  }

  body .social-media-icons .row-2 li.active .icon {
    font-size: 2rem;
  }

  body .phone-buttons label {
    width: 100%;
    padding: 1.25rem 3rem;
  }
}

@media (max-width: 420px) {
  body .profile-card .social-share {
    flex-direction: column;
  }

  body .profile-card .divide-line {
    display: none;
  }

  body .social-media-icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  body .social-media-icons .row {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  body .social-media-icons .row li {
    width: 5rem;
    height: 5rem;
  }

  body .social-media-icons .row-1 .icon {
    font-size: 2.75rem;
  }

  body .social-media-icons .row-1 li.active .icon {
    font-size: 2.25rem;
  }

  body .social-media-icons .row-2 .icon {
    font-size: 2.25rem;
  }

  body .social-media-icons .row-2 li.active .icon {
    font-size: 2.75rem;
  }

  body .phone-buttons label {
    width: 100%;
    padding: 1.25rem 3rem;
  }

  body .radio-btns {
    padding: 1.5rem 0.5rem;
    flex-direction: column;
    border-radius: 3rem;
    gap: 2.5rem;
  }

  body .radio-btns label {
    padding: 0.75rem 1rem;
    font-size: 1.75rem;
  }
}
